<% content_for :title do %>Styles<% end %>
<p class="controls">
  <a href="/styles/new">Add new style</a>
</p>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Product</th>
	  <th>Tariff Code</th>
    </tr>
  </thead>
  <tbody>
  <% @styles.each do |style| %>
  <tr id="<%= style.id %>" class="<%= cycle("odd", "even") %>">
    <td><%= style.name %></td>
    <td><%= style.product.try(:name) %></td>
	<td><%= style.tariff_code %></td>
  </tr>
  <% end %>
  </tbody>
</table>

<p class="stats"><%= number_with_delimiter(@styles.length) %> Styles</p>

<script type="text/javascript" src="/javascripts/jquery-<%= JQUERY_VERSION %>.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.tablesorter.min.js"></script>
<script type="text/javascript">
$('table').tablesorter({
  sortList: [[0,0]],
  widgets: ['zebra']
});
$('button').click(function() {
  $(this).find('a:first').click();
});
$('tbody tr').click(function() {
  $('tr').removeClass('selected');
  $(this).addClass('selected');
})
$('tbody tr').dblclick(function() {
  window.location = '/styles/' + $(this).attr('id') + '/edit';
});
</script>