<% content_for(:title) do %>Size Charts<% end %>
<div id="source">
  <form action="/size_charts" method="get">
  <ul id="customers">
    <li><span>Customers</span>
      <ul>
        <li><a href="#" id="select_customers">Select all</a></li>
        <li><a href="#" id="deselect_customers">Deselect all</a></li>
        <% @current_user.customers.each do |customer| %>
					<% unless customer.deleted %>
        	<li><input type="checkbox" name="customer_ids[]" value="<%= customer.id %>" id="c<%= customer.id %>" <% if !params[:customer_ids] || params[:customer_ids].try(:include?, customer.id.to_s) %>checked="checked"<% end %>/> <label for="c<%= customer.id %>"><%= customer.name %></label></li>
        	<% end %>
				<% end %>
      </ul>
    </li>
    <li><span>Departments</span>
      <ul id="departments">
        <li><a href="#" id="select_departments">Select all</a></li>
        <li><a href="#" id="deselect_departments">Deselect all</a></li>
        <% @current_user.departments.each do |department| %>
        <li><input type="checkbox" name="department_ids[]" value="<%= department.id %>" id="c<%= department.id %>" <% if !params[:department_ids] || params[:department_ids].try(:include?, department.id.to_s) %>checked="checked"<% end %>/> <label for="c<%= department.id %>"><%= department.name %></label></li>
        <% end %>
      </ul>
    </li>
  </ul>
  <p><input type="submit" value="View Selection" /></p>
  </form>
</div>

<div id="pane">
  <p class="controls">
	  <% if @current_user.can?(:write, :size_charts) %>
  	<a href="/size_charts/new">Add new size chart</a>
  	<% end %>
  </p>

  <table class="tablesorter">
    <thead>
  	<tr>
  		<th>Size Chart No.</th>
  		<th>Customer</th>
  		<th>Department</th>
  		<th>Description</th>
  		<th>Measuring Style</th>
  	</tr>
  	</thead>
  	<tbody>
    <% @size_charts.each do |size_chart| %>
		<% unless size_chart.customer.deleted %>
    <tr id="<%= size_chart.id %>" class="<%= cycle("odd", "even") %>">
  		<td class="id"><a href="/size_charts/<%= size_chart.id %>"><%= size_chart.id %></a></td>
  		<td><%= size_chart.customer.try(:name) %></td>
  		<td><%= size_chart.department.try(:name) %></name>
  		<td><%= size_chart.description %></td>
  		<td><%= size_chart.measuring_style %></td>
  	</tr>
  	<% end %>
		<% end %>
  	</tbody>
  </table>
  <p class="stats"><%= number_with_delimiter(@size_charts.length) %> Size Charts</p>
</div>

<script type="text/javascript" src="/javascripts/jquery-<%= JQUERY_VERSION %>.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.tablesorter.min.js"></script>
<script type="text/javascript">
$('table').tablesorter({
  sortList: [[1,0], [2,0], [3,0]],
  widgets: ['zebra']
});
$('button').click(function() {
  $(this).find('a:first').click();
});
$('tbody tr').click(function() {
  $('tr').removeClass('selected');
  $(this).addClass('selected');
})
$('tbody tr').dblclick(function() {
  window.location = '/size_charts/' + $(this).attr('id');
});

$('#select_customers').click(function() {
  $('#customers :input').attr('checked', 'checked');
  return false;
});
$('#deselect_customers').click(function() {
  $('#customers :input').attr('checked', '');
  return false;
});

$('#select_departments').click(function() {
  $('#departments :input').attr('checked', 'checked');
  return false;
});
$('#deselect_departments').click(function() {
  $('#departments :input').attr('checked', '');
  return false;
});
</script>